################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AddictionSolitaire/obj/AddictionSolitaire.csproj.nuget.g.targets
